@using BikesRoom.Models
@*@model IEnumerable<BikesRoom.Models.Bikes>*@
@model cloudscribe.Pagination.Models.PagedResult<Bikes>
@using BikesRoom.Helper;
@{
    ViewData["Controler"] = "Bikes";
    ViewData["Action"] = "Index";

}
<form asp-action="Index" method="get">
    <div>
        <p>
            <input type="text" name="SearchString" value="@ViewBag.CurrentFilter" />
            <input type="submit" class="btn btn-info" value="Search" />
            <a asp-action="Index"> | Remove Filter</a>
        </p>
    </div>
</form>
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Bikes</h2>
    </div>
    @if (User.IsInRole(Constant.Admin) || User.IsInRole(Constant.Executive))
    {
        <div class="col-6 text-end">
            <a class="btn btn-info" asp-action="Create">Add Bike</a>
        </div>
    }

    <br />  <br />
    <div class="col-12">

        <table class="table table-striped  border">
            <tr class="table-info">
                <th class="col-auto">
                    @*@Html.DisplayNameFor(m=>m.MakedByCompany)*@
                    Bike Photo
                </th>
                <th class="col-auto">
                    @*@Html.DisplayNameFor(m=>m.Name)*@
                    Bike Details
                </th>

                <th class="col-auto">
                    <a asp-action="Index"
                       asp-route-SortOrder="@ViewBag.PriceSortParam"
                       asp-route-PageNumber=@Model.PageNumber>Price</a>
                </th>
                <th class="col-auto">
                    Seller Information
                </th>
                @if (User.IsInRole(Constant.Admin) || User.IsInRole(Constant.Executive))
                {
                    <th class="col-auto">
                        Action
                    </th>
                }
                else
                {
                    <th class="col-auto">
                        View Details
                    </th>
                }

            </tr>

            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        <img src="@Html.DisplayFor(m=>item.ImagePath)" width="150px" height="100px" />
                    </td>
                    <td>
                        <b> @Html.DisplayFor(m=>item.MakedByCompany.Name) (@Html.DisplayFor(m=>item.Year)) </b> <br />
                        <b>Model:   </b>@Html.DisplayFor(m=>item.BikesModel.Name)<br />
                        <b>Mileage: </b> @Html.DisplayFor(m=>item.Mileage)
                    </td>

                    <td>
                        @Html.DisplayFor(m=>item.Price)  (@Html.DisplayFor(m=>item.Currency))
                    <td>
                        <b>Name:   </b>@Html.DisplayFor(m=>item.SellerName)<br />
                        <b>Email:   </b>@Html.DisplayFor(m=>item.Email)<br />
                        <b>Phone: </b> @Html.DisplayFor(m=>item.Phone)
                    </td>

                        @if (User.IsInRole(Constant.Admin) || User.IsInRole(Constant.Executive))
                        {
                        <partial name="_TableButtonPartial" model="item.Id" />
                        }
                        else
                        {

                        <td class="align-items-md-center">
                            <div class="btn-group" role="group">
                                <a asp-route-id=@item.Id asp-action="View" type="button" class="btn btn-primary">
                                    <i class="fas fa-search-plus"></i>&nbsp;View
                                </a>

                            </div>
                        </td>
                        }


                </tr>
            }

        </table>

        <partial name="_partialPagination" view-data="ViewData" model="Model" />
        @* <cs-pager cs-paging-pagenumber=(int)Model.PageNumber
            cs-paging-totalitems=(int)Model.TotalItems
            cs-paging-pagesize=Model.PageSize
            cs-pagenumber-param="pageNumber"
            asp-controller="Bikes"
            asp-action="Index"
            cs-pager-li-current-class="page-item active"
            cs-pager-li-other-class="page-item"
            cs-pager-li-non-active-class="page-item disabled"
            cs-pager-link-current-class="page-link"
            cs-pager-link-other-class="page-link"></cs-pager>*@

    </div>
</div>